body{
    font-family: "Karla", sans-serif;
}

/*Pagina Inicial */

.inicio{
    background-image: url(blumenau.png);
    background-size: cover;
    height: 400px;
    width: 100%;
}
.textoInicio{
    width: 400px;
    padding: 40px 50px;
    color: #f9f9f9;
}
.textoInicio h1{
    font-size: 50px;
}
.eventos{
    text-align: center;
    margin: 20px 0 0 0;
    padding: 10px;
}
/* Próximos Eventos */
.deckEventos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cardEvento{
    height: 455px;
    width: 300px;
    text-align: center;
    border: #000 solid 1px;
    border-radius: 20px;
    margin: 20px;
    background-color: #ffffff;
}
.cardEvento img{
    width: 298px;
    height: 300px;
    border-radius: 20px 20px 0 0;
}
.cardEvento h5{
    padding-top: 10px;
}
.saibaMais{
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100px;;
    background-color: #e6e6e6;
}
.saibaMais:hover{
    background-color: #bdbdbd;
    transition: 1s;
    cursor: pointer;
}
/* Infomações do evento */

.fundo{
    height: 400px;
    width: 100%;
}
.imgEvento{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF7-cZuC8tUnwZQucHcOFs17UF8vuvqdfmRA&s);
    height: 410px;
    display: block;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
}
.descricaoEvento{
    display: flex;
    justify-content: space-around;
}
.textoEvento{
    width: 500px;
    margin-left: 30px;
}
.tituloEvento{
    margin: 20px;
}
.informacoes{
    margin-top: 40px;
    width: 500px;
}
.redesSociais{
    margin: 8px;
}
.horarios{
    justify-content: left;
    display: flex;
    margin-left: 80px;
}